<footer>
    <div class="container">
        <div class="row">

            <!-- useful links -->
            <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                <h4>常用链接</h4>
                <ul class="row footer-links">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <li><a href="/champions/">英雄克制</a></li>
                        <li><a href="/tier/">阶梯排名</a></li>
                        <li><a href="/blog/">论坛</a></li>
                        <li><a href="/contact/">联系我们</a></li>
                    </div>
                </ul>
            </div>

            <!-- recent news -->
            <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                <h4>最新动态</h4>

                <div class="row footer-news">
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <img src="assets/img/intro.jpg" class="img-responsive center-block" alt="recent news 1">
                    </div>
                    <div class="col-md-8 col-sm-4 col-xs-6">
                        <div class="row">
                            <p class="text-capitalize">
                                <a href="/blog/">
                                    league of legend patch 5.2 updated
                                </a>
                            </p>
                            <p class="news-date">Dec 12,2015</p>
                        </div>
                    </div>
                </div> <!-- /.footer-news -->

                <div class="row footer-news">
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <img src="assets/img/intro.jpg" class="img-responsive center-block" alt="recent news 2">
                    </div>
                    <div class="col-md-8 col-sm-4 col-xs-6">
                        <div class="row">
                            <p class="text-capitalize">
                                <a href="/tier">
                                    league of legend patch 5.3 tier list updated
                                </a>
                            </p>
                            <p class="news-date">Dec 12,2015</p>
                        </div>
                    </div>
                </div> <!-- /.footer-news -->
            </div> <!-- /.footer-widget -->

            <!-- news-letter -->
            <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                <h4>关注我们</h4>

                <p>加入我们并获取最新动态</p>
                <div class="input-group margin-bottom-sm">
                    <input class="form-control" type="text" placeholder="Email address">
                    <span class="input-group-addon">
                        <i class="fa fa-paper-plane fa-fw"></i>
                    </span>
                </div>
            </div> <!-- /.footer-widget -->

            <!-- about Champion Counter -->
            <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                <h4>选英雄</h4>

                <p>
                    帮助您提高段位，了解英雄克制以及被克制的关系，让你在选英雄时更有准备，对战时更自信，赢得比赛更轻松。
                </p>

                <div class="footer-address">
                    <p>>
                        feifansnf@gmail.com
                    </p>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <ul class="footer-share-button">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul> <!-- /.footer-share-button -->
                    </div>
                </div>
            </div> <!-- /.footer-widget -->

        </div>
    </div>
</footer>


<!-- footer-navigation start -->  
<nav class="hidden-xs hidden-sm navbar footer-nav" role="navigation">
    <div class="container">
        
        <div class="navbar-header">
            
            <!-- navbar logo -->
            <div class="navbar-brand">
                <span class="sr-only">&copy;选英雄</span>
                <a href="/">
                    &copy;选英雄
                </a>
            </div>
            <!-- navbar logo -->

        </div><!-- /.navbar-header -->

        <!-- nav links -->
        <div class="collapse navbar-collapse" id="main-nav-collapse">
            <ul class="nav navbar-nav navbar-right text-capitalize">
                <li><a href="/">
                    <span>主页</span>
                </a></li>

                <li><a href="/champions/">
                    <span>英雄列表</span>
                </a></li>

                <li><a href="/tier/">
                    <span>阶梯排名</span>
                </a></li>

                <li><a href="/blog/">
                    <span>论坛</span>
                </a></li>

                <li><a href="/contact/">
                    <span>联系我们</span>
                </a></li>

            </ul>
        </div><!-- nav links -->
        
    </div><!-- /.container -->
</nav>
<!-- footer-navigation end -->