<div id="about-page">

    <!-- header begin -->
    <header class="page-head">
        <div class="header-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <ol class="breadcrumb">
                            <li><a href="/">主页</a></li>
                            <li class="active">{{::champion.name}}</li>
                        </ol> <!-- end of /.breadcrumb -->

                    </div>
                </div>
            </div> <!-- /.container -->
        </div> <!-- /.header-wrapper -->
    </header> <!-- /.page-head (header end) -->

    <div class="main-content">

        <!-- begin our story section -->
        <section class="bg-white story">
            <div class="container">
                <div class="headline text-center">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <img ng-src="assets/img/champ_img/{{::champion.eng_name}}.png" class="img-responsive center-block" alt="{{::champion.name}}">
                            <h3 class="section-title">{{::champion.alias}}</h3>
                            <h2 class="section-title">{{::champion.name}}</h2>
                            <h4 class="section-title">{{::champion.tags}}</h4>
                        </div>
                    </div>
                </div> <!-- /.headline -->

                <div class="row">
                    <div class="col-md-10 col-md-offset-1 text-center">
                        <p class="story-description">kong wei, sui yi shi yong</p>
                        <!-- /.story-description -->
                    </div>
                </div>
            </div>
        </section>
        <!-- end of our story section -->

         <!-- begin skill section -->

        <section class="bg-light-gray skill">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 champion-tabs">
                        <h2>背景故事</h2>
                        <p class="champion-description" ng-bind-html="::champion.description"></p>
                    </div>

                    <div class="col-md-5">
                        <div class="skill-level">
                            <p>攻击</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100" style="width: 88%;">
                                    88%
                                 </div>
                            </div>

                            <p>防御</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width: 98%;">
                                    98%
                                 </div>
                            </div>

                            <p>治疗</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                                    75%
                                 </div>
                            </div>

                            <p>上手难度</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
                                    85%
                                 </div>
                            </div>
                        </div> <!-- /.skill-level -->
                    </div>
                </div>
            </div>
        </section>

        <!-- begin counter section -->
        <section class="bg-white story champion-counter">
            <div class="container">
                <div class="row">
                    <tabset justified="true"> <!--TODO: justified or not? width setted to 480-->
                            <tab heading="{{::type}}" ng-repeat="type in ::['All','General','上单','Mid','Bottom','Jungle']" 
                                 ng-click ="::getCounters(champion.id,type)">
                                    <div class="champion-against custom-col-md-6" ng-repeat="(key,counter_data) in counters"><!--TODO:col-md-6 making tab not extending in height-->
                                        <table>
                                            <thead>{{::champion.name}} is {{::key}} against:</thead>
                                            <tr ng-repeat="counter in counter_data">
                                                <td>{{::counter.champion_against}}</td>
                                                <td><button class="btn btn-default" ng-click="upvote(counter.id,champion.id,type)">
                                                    <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>{{::counter.upvote}}
                                                </button></td>
                                                <td><button class="btn btn-default" ng-click="downvote(counter.id,champion.id,type)">
                                                    <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>{{::counter.downvote}}
                                                </button></td>
                                                <td><button class="btn btn-black" ng-mouseover="hoverIn(counter.id)" ng-mouseleave="hoverOut()">
                                                    Tips
                                                    </button>
                                                    <div ng-show="hoverEdit" class="popover left">
                                                        <div class="arrow"></div>
                                                        <h3 class="popover-title">Popover Header</h3>
                                                        <div class="popover-content">
                                                            <div class="col-md-10 col-md-offset-1" ng-repeat="tip in tips">
                                                                {{tip.tip}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>        
                                    </div>
                            </tab>
                        
                      </tabset>
 
                </div>
            </div>
        </section>


    </div> <!-- end of /.main-content -->
</div>
