<div id="about-page">
    <!-- header begin -->
    <header class="page-head">
        <div class="header-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <ol class="breadcrumb">
                            <li><a href="/">英雄列表</a></li>
                            <li class="active">{{::champion.name}}</li>
                        </ol> <!-- end of /.breadcrumb -->

                    </div>
                </div>
            </div> <!-- /.container -->
        </div> <!-- /.header-wrapper -->
    </header> <!-- /.page-head (header end) -->

    <div class="main-content">

        <!-- begin our story section -->
        <section class="bg-white story">
            <div class="container">
                
                <div class="headline">
                    <div class="row">
                        <a class="text-center" href="/contact#contact"><uib-alert>若您有任何问题或建议，请点击此处联系我们！</uib-alert></a>
                        <div class="col-md-6">
                            <div class="champion_detail">
                                <img class="detail-img" ng-src="assets/img/champ_img/{{::champion.eng_name}}.png" alt="{{::champion.name}}">
                                <h2 class="detail-title">{{::champion.name}}</h2>
                                <h3 class="detail-title">{{::champion.alias}}</h3>
                                <h4 class="detail-title">{{::champion.tags}}</h4>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h4>通用对战技巧：</h4>
                            <div class="champion-tip" ng-repeat = "tip in generalTips"><div class="tip-vote-div">
                                <div class="tip-vote-num">{{::tip.vote}}</div>
                                <div class="tip-vote-icon">
                                <button type="button" class="btn-xs btn-default" 
                                        ng-click="tipUpvote(tip.id)">
                                  <span class="glyphicon glyphicon-menu-up" aria-label="赞"></span>
                                </button><br>
                                <button type="button" class="btn-xs btn-default" 
                                        ng-click="tipDownvote(tip.id)">
                                  <span class="glyphicon glyphicon-menu-down" aria-label="不赞"></span>
                                </button>
                                </div>
                            </div>
                            <div class="tip-content-div col-md-10 col-xs-10">
                                {{::tip.tip}} <br>Submitted By <span class="grey">{{::tip.author}}</span>
                            </div></div>
                            <button class="btn btn-default vote-btn" ng-click="open(champ_id, champion.alias)">添加技巧</button>
                            <script type="text/ng-template" id="myModalContent.html">
                                <div class="modal-header">
                                    <h3 class="modal-title">如何对战{{champ_name}}？</h3>
                                </div>
                                <form name='add_tip' ng-submit = "submitTip(champ_id)">
                                <div class="modal-body">
                                        <div class="row col-md-10 col-md-offset-1">
                                            <div class="">

                                                <div class="generalTip-form-group-name">
                                                    <input name="name" ng-model="tip.name" type="text" class="form-control" id="name" required="required" placeholder="姓名">
                                                </div>

                                                <div class="generalTip-form-group-email">
                                                    <input name="email" ng-model="tip.email" type="email" class="form-control" id="email" placeholder="邮件地址">
                                                </div>

                                            </div>

                                            <div class="generalTip-form-group-content">
                                                <textarea name="tip" ng-model="tip.tip" type="text" class="form-control" id="tip" rows="5" required="required" placeholder="请输入技巧"></textarea>
                                            </div>
                                        </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" type="submit">提交技巧</button>
                                    <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
                                </div>
                                </form> <!-- form end -->

                            </script>
                        </div>
                    </div>
                </div> <!-- /.headline -->

                <div class="row">
                    <div class="col-md-10 col-md-offset-1 text-center">
                        <p class="story-description"></p>
                        <!-- /.story-description -->
                    </div>
                </div>
            </div>
        </section>
        <!-- end of our story section -->

         <!-- begin skill section -->
<!--
        <section class="bg-light-gray skill">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 champion-tabs"
                        <h2>背景故事</h2>
                        <p class="champion-description" ng-bind-html="::champion.description"></p>
                    </div>

                    <div class="col-md-5">
                        <div class="skill-level">
                            <p>攻击</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100" style="width: 88%;">
                                    88%
                                 </div>
                            </div>

                            <p>防御</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width: 98%;">
                                    98%
                                 </div>
                            </div>

                            <p>治疗</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                                    75%
                                 </div>
                            </div>

                            <p>上手难度</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
                                    85%
                                 </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </section>
-->
        <!-- begin counter section -->
        <section class="bg-white story champion-counter">
            <div class="container">
                <div class="row">
                    <uib-tabset justified="true"> <!--TODO: justified or not? -->
                            <uib-tab heading="{{::type.type}}" ng-repeat="type in types" 
                                 ng-click ="::getCounters(champion.id,type.type)">
                                    <div class="champion-against col-md-6" ng-repeat="(key,counter_data) in counters">
                                        <table>
                                            <thead>{{::champion.name}} 的 {{key=="weak"?"爸爸":"儿子"}} 们:</thead>
                                            <tr ng-repeat="counter in counter_data | limitTo:totalDisplayed">
                                                <td><a href="/champion/{{::counter.eng_name}}">
                                                        <img ng-src="assets/img/champ_img/{{::counter.eng_name}}.png" 
                                                        class="counter-thumbnail" alt="{{::champion.name}}">
                                                    </a>
                                                </td>
                                                <td class="counter-name">
                                                    <a href="/champion/{{::counter.eng_name}}">{{::counter.champion_against}}</a>
                                                </td>
                                                <td><button class="btn btn-default vote-btn" ng-click="upvote(counter.id,champion.id,type.type)">
                                                    <span class="glyphicon glyphicon-menu-up" aria-label="赞" aria-hidden="true"></span>{{::counter.upvote}}
                                                </button></td>
                                                <td><button class="btn btn-default vote-btn" ng-click="downvote(counter.id,champion.id,type.type)">
                                                    <span class="glyphicon glyphicon-menu-down" aria-label="不赞" aria-hidden="true"></span>{{::counter.downvote}}
                                                </button></td>
                                                <td>
                                                    <a href="/champion/tips/{{::key=='weak'? champion.eng_name:counter.eng_name}}/{{::key=='weak'? counter.eng_name:champion.eng_name}}">
                                                        <button ng-mouseenter="getTips(counter.champion_weak, counter.champion_strong)" 
                                                                uib-popover-template="TipPopover.templateUrl" popover-placement="left" 
                                                                popover-title="{{champion.name}} vs {{counter.champion_against}} 的技巧:" type="button" 
                                                                popover-trigger="mouseenter" class="btn btn-black vote-btn">{{counter.num_tips}} 技巧
                                                        </button>
                                                    </a>
                                                        <script type="text/ng-template" id="PopoverTipTemplate.html">
                                                            <div class="hoverTips" ng-repeat="tip in tips">{{tip.tip}}</div>
                                                            <div class="hoverSubmitTip">点击提交新的技巧！</div>
                                                        </script>
                                                </td>
                                            </tr>
                                            <tr><td colspan="3" style="display:block"><button ng-show="counter_data.length>5" class="btn btn-default home-btn" ng-click="loadMore()">显示更多</button></td></tr>
                                        </table>        
                                    </div>
                            </uib-tab>
                        
                      </uib-tabset>
 
                </div>
            </div>
        </section>


    </div> <!-- end of /.main-content -->
</div>
