
<div id="contact-page">

    <!-- header begin -->
    <header class="page-head">
        <div class="header-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <ol class="breadcrumb">
                            <li><a href="/">英雄列表</a></li>
                            <li class="active">关于我们</li>
                        </ol> <!-- end of /.breadcrumb -->

                    </div>
                </div>
            </div> <!-- /.container -->
        </div> <!-- /.header-wrapper -->
    </header> <!-- /.page-head (header end) -->


    <div claas="main-content">
        <div class="container">
            <!-- contact-form -->
            <section class="contact-form" id="contact">
                
                <!-- call for contact -->
                <div class="headline text-center">
                    <div class="row">
                        <h2 class="section-title">关于我们</h2>
                        <p>新的赛季马上就到来了，我们希望可以帮助您在英雄联盟新的赛季里夺得更高的段位。</p>
                        <p>选英雄是英雄联盟中至关重要的一个步骤。一局游戏通常在选英雄的时候便决定了比赛的结局。</p>
                        <p>我们为您提供了所有英雄的克制关系，让您可以简单快捷的了解您的对手英雄的弱点以及被克制的英雄</p>
                        <p>让您在对战中更游刃有余。更加轻松自信的赢得比赛，获得你梦寐以求的段位！</p>
                        
                        <div class="col-md-6 col-md-offset-3">
                            <h2 class="section-title">您好,不要害羞</h2>
                            <p class="section-sub-title">
                               请告诉我们您对此网站的感想，以及任何问题和建议。
                            </p> <!-- /section-sub-title -->
                        </div>
                    </div>
                </div> <!-- /.contact-speech -->

                <form name="contact_us" ng-submit = "submitFeedback()">

                    <div class="row">
                        <div class="col-md-4">

                            <div class="form-group">
                                <input  name="name" ng-model="feedback.name" type="text" class="form-control" id="name" required="required" placeholder="姓名">
                            </div>

                            <div class="form-group">
                                <input name="email" ng-model="feedback.email" type="email" class="form-control" id="email" placeholder="邮件地址">
                            </div>

                        </div>

                        <div class="col-md-8">
                            <textarea name="message" ng-model="feedback.message" type="text" class="form-control" id="message" rows="5" required="required" placeholder="请输入信息..."></textarea>
                            <button type="submit" id="submit" name="submit" class="btn btn-black">提交</button>
                        </div>
                        
                    </div>

                        
                    
                </form> <!-- form end -->
            </section> <!-- /.contact-form -->

        </div> <!-- container -->
    </div>
    <!-- main-content end -->


</div> <!-- /#contact-page (page end) -->

