<div id="about-page">

    <!-- header begin -->
    <header class="page-head">
        <div class="header-wrapper">
            <div class="container">
                <div class="row">
                    
                    <div class="col-md-12">

                        <ol class="breadcrumb">
                            <li><a href="/">英雄列表</a></li>
                            <li class="active">排名</li>
                        </ol> <!-- end of /.breadcrumb -->

                    </div>
                </div>
            </div> <!-- /.container -->
        </div> <!-- /.header-wrapper -->
    </header> <!-- /.page-head (header end) -->

    <div class="main-content">

        <!-- begin our story section -->

        <section class="bg-white story">
            <div class="container">
                <div class="headline text-center">
                    <div class="row">
                        <a href="/contact#contact"><uib-alert>若您有任何问题或建议，请点击此处联系我们！</uib-alert></a>
                        <div class="col-md-6 col-md-offset-3">
                            <h2 class="section-title">英雄排名</h2>
                            <h4>[更新] 新赛季-英雄联盟版本 5.24 单排英雄排名列表</h4>
                            <p>更新时间：201671-14 10:06:25</p>
                            <p>*<span class="tier-bold">紫色</span>标注的英雄，在列表下方有额外的英雄排名解释</p><!--TODO: Add this and explaination section into database, add backend support -->
                        </div>
                    </div>
                </div> <!-- /.headline -->

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <input ng-model="searchKeyword"  type="text" class="form-control"required="required" placeholder="输入英雄名">
                    </div>
                    <div class=" champion_tier_section col-md-10 col-md-offset-1" ng-repeat = "(key,tier) in tiers  | filter: searchKeyword | limitTo:totalDisplayed">
                        <p>{{::tier[key].tier}}
                        <div class="champion_tier_lane" ng-repeat = "lane in tier  | filter: searchKeyword">
                            <div class="col-md-2">{{::lane.lane}}:</div>
                            <div class="col-md-10">
                                <span class="tier_champion" ng-repeat = "champion in ::lane.champions  | filter: searchKeyword">
                                    <a href="/champion/{{::champion.eng_name}}"  ng-class="{'tier-bold':tierBold.indexOf(champion.eng_name) != -1}">
                                        <img ng-src="assets/img/champ_img/{{::champion.eng_name}}.png" width="20px"
                                                              alt="{{::champion.alias}}">
                                        {{::champion.alias}}</a>
                                    <span ng-show=" ! $last ">, </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <button ng-show="totalDisplayed<5" class="btn btn-default home-btn" ng-click="loadMore()">显示更多排名</button>
                    <div class="col-md-10 col-md-offset-1 tier-explain">
                        <p><span class="tier-bold">火男[中单]</span> - 就算被削了很多次，火男的伤害依旧极高。尤其是被动加上冰杖。火男的后期变得更加可怕了。火男并不需要很多装备就能打出极高的伤害。</p>
                        <p><span class="tier-bold">蒙多[上单]</span> - 蒙多被削之后，依旧保持着极高的胜率。蒙多的特性和天赋的完美配合和当前版本的融合，想要把蒙多打压下去，估计还要再多削几次。</p>
                        <p><span class="tier-bold">贾克斯[打野]</span> - 鬼索的狂暴之刃（装备）被削，对贾克斯的影响并不是很大。他的伤害确实低了一点，但是他主要的任务还是瞬间秒掉一个人，和群控， 所以贾克斯依旧很强势</p>
                        <p><span class="tier-bold">石头人[上单]</span> - 靠基础伤害的刺客开始变得越来越火，当前版本经常可以看到菜刀队，但是完全阻挡不了他们。石头人的大招依旧是游戏里最有用和最容易的大招</p>
                         <p><span class="tier-bold">奥巴马[ADC]</span> - 奥巴马现在在adc里出场率排名第二， 但是他有着更高的胜率。他强大的位移加上超长的射程，让他可以适应各种各样的队伍和游戏风格。</p>
                        <p><span class="tier-bold">特朗德尔[上单]</span> - 特朗德尔的胜率登上上单的第一，让我们不得不注意到他的崛起。特朗德尔的强势在与线上，因为他团转并没有什么太好的先手能力。他前期对石头人之类的肉可能不太打得过，但是等级高一点，再出一点肉之后，就基本可以打过大部分英雄了。</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- end of our story section -->

    </div> <!-- end of /.main-content -->
</div>

