<div id="multiple-blog-page">


    <!-- header begin -->
    <header class="page-head">
        <div class="header-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ol class="breadcrumb">
                            <li><a href="/">英雄列表</a></li>
                            <li><a href="/champion/{{counter.weak.eng_name}}">
                                {{counter.weak.name}}</a></li>
                            <li class="active">Tips</li>
                        </ol> <!-- end of /.breadcrumb -->
                    </div>
                </div>
            </div> <!-- /.container -->
        </div> <!-- /.header-wrapper -->
    </header> <!-- /.page-head (header end) -->

    <section>
        <div class="main-content">

        <!-- begin our story section -->
        <section class="bg-white story">
            <div class="container">
                <a class="text-center" href="/contact#contact"><uib-alert>若您有任何问题或建议，请点击此处联系我们！</uib-alert></a>

                <div class="row">
                    <div class="champion-tips col-md-10 col-md-offset-1">
                        <div class="counter-info-div text-center">
                            <a class="champion_tip_thumb" href="/champion/{{::counter.weak.eng_name}}">
                                <img ng-src="assets/img/champ_img/{{::counter.weak.eng_name}}.png" class="counter-thumbnail" 
                                 alt="{{::counter.weak.name}}"> {{::counter.weak.name}}</a> VS 
                            <a class="champion_tip_thumb" href="/champion/{{::counter.strong.eng_name}}">
                                <img ng-src="assets/img/champ_img/{{::counter.strong.eng_name}}.png" class="counter-thumbnail" 
                                 alt="{{::counter.strong.name}}"> {{::counter.strong.name}}</a>
                        </div>
                        <div class="champion-tip" ng-repeat ="tip in tips">
                            <div class="tip-vote-div">
                                <div class="tip-vote-num">{{::tip.vote}}</div>
                                <div class="tip-vote-icon">
                                <button type="button" class="btn-xs btn-default" aria-label="Upvote" 
                                        ng-click="upvote(tip.id)">
                                  <span class="glyphicon glyphicon-menu-up"></span>
                                </button><br>
                                <button type="button" class="btn-xs btn-default" aria-label="Downvote" 
                                        ng-click="downvote(tip.id)">
                                  <span class="glyphicon glyphicon-menu-down"></span>
                                </button>
                                </div>
                            </div>
                            <div class="tip-content-div col-md-10 col-xs-10">
                                {{::tip.tip}} <br>Submitted By <span class="grey">{{::tip.author}}</span>
                            </div>
                        </div>
                    </div>

                    <form name='add_tip' ng-submit = "submitTip(counter.weak.id,counter.strong.id)" class="contact-form">

                        <div class="row col-md-10 col-md-offset-1">
                            <div class="col-md-4">

                                <div class="form-group">
                                    <input  name="name" ng-model="tip.name" type="text" class="form-control" id="name" required="required" placeholder="姓名">
                                </div>

                                <div class="form-group">
                                    <input name="email" ng-model="tip.email" type="email" class="form-control" id="email" placeholder="邮件地址">
                                </div>

                            </div>

                            <div class=" col-md-8">
                                <textarea name="tip" ng-model="tip.tip" type="text" class="form-control" id="tip" rows="5" required="required" placeholder="请输入技巧"></textarea>
                                <button type="submit" id="submit" name="submit" class="btn btn-black">提交技巧</button>
                            </div>
                        </div>


                    </form> <!-- form end -->
                    
            </div>
        </section>
        </div>
    </section>
</div> 
<!-- end of /#multiple-blog-page -->

