<div id="coming-soon-page" onload="countdown(year,month,day,hour,minute)">
    <!-- fix the height of the whole content -->
    <div id="height-fix" class="text-center">

        <!--   header section begin   -->
        <section class="header bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="row">

                            <div class="page-title">
                                <p>Appointment System will be live soon!</p>
                                <p style="color:#FF436D ">Right now, Champion Counter is first come first serve.</p>
                                <p>Thank you for your support.</p>
                            </div> <!-- /.error-description -->
                            
                        </div>
                    </div> <!-- /.col-md-6 col-md-offset-3 -->
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </section> <!--   header section end   -->
    </div>
</div>    