
<div id="contact-page">

    <!-- header begin -->
    <header class="page-head">
        <div class="header-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <ol class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li class="active">Contact</li>
                        </ol> <!-- end of /.breadcrumb -->

                    </div>
                </div>
            </div> <!-- /.container -->
        </div> <!-- /.header-wrapper -->
    </header> <!-- /.page-head (header end) -->


    <div claas="main-content">
        <div class="container">

            <!-- google map iframe -->
            <section class="g-map">
                <div class="row">
                    <div class="col-md-12">
                        <div class="google-map">
                            <div id="map-canvas">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6232.551546999602!2d-77.29340875213029!3d38.64253889198017!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b6560c434b0b95%3A0xf02d45fbb1ae48bc!2sPotomac+Mills!5e0!3m2!1sen!2sus!4v1442426581040" width="1140" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </section> <!-- /.g-map (google-map end) -->



            <!-- contact adresses section begin -->
            <section class="contact-address bg-white">
                <div class="row">

                    <div class="col-md-4 col-xs-12">
                        <div class="address-info">
                            <div class="row">

                                <div class="col-md-3 col-xs-3">
                                    <div class="address-info-icon text-center center-block bg-light-gray">
                                        <i class="fa fa-map-marker"></i>
                                    </div> <!-- /.address-info-icon -->
                                </div>

                                <div class="col-md-9 col-xs-9 address-info-desc">
                                    <h3>Store Address</h3>
                                    <p>
                                        2700 Potomac Mills Circle, <br/>
                                        Woodbridge, VA 22192
                                    </p>
                                </div> <!-- /.address-info-desc -->

                            </div>
                        </div> <!-- /.address-info -->
                    </div>

                    <div class="col-md-4 col-xs-12">
                        <div class="address-info">
                            <div class="row">

                                <div class="col-md-3 col-xs-3">
                                    <div class="address-info-icon text-center center-block bg-light-gray">
                                        <i class="fa fa-phone"></i>
                                    </div> <!-- /.address-info-icon -->
                                </div>

                                <div class="col-md-9 col-xs-9 address-info-desc">
                                    <h3>Phone Number</h3>
                                    <p>
                                        Local: 1-703-589-8939
                                        <br/>
                                        Mobile: 1-600-153-hello
                                    </p>
                                </div> <!-- /.address-info-desc -->

                            </div>
                        </div> <!-- /.address-info -->
                    </div>

                    <div class="col-md-4 col-xs-12">
                        <div class="address-info">
                            <div class="row">

                                <div class="col-md-3 col-xs-3">
                                    <div class="address-info-icon text-center center-block bg-light-gray">
                                        <i class="fa fa-envelope-o"></i>
                                    </div> <!-- /.address-info-icon -->
                                </div>

                                <div class="col-md-9 col-xs-9 address-info-desc">
                                    <h3>Email Address</h3>
                                    <p>
                                        serenajin@yahoo.com
                                        <br/>
                                        www.example.com
                                    </p>
                                </div> <!-- /.address-info-desc -->

                            </div>
                        </div> <!-- /.address-info -->
                    </div>

                </div>
            </section> <!-- /.contact-address -->



            <!-- contact-form -->
            <section class="contact-form">

                <!-- call for contact -->
                <div class="headline text-center">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <h2 class="section-title">Say Hello! Don't be shy</h2>
                            <p class="section-sub-title">
                                If you have any questions or comments, or would just like to say hello, 
                                <br/>please feel free to contact our friendly team
                            </p> <!-- /section-sub-title -->
                        </div>
                    </div>
                </div> <!-- /.contact-speech -->

                <form method="post" action="contactus.php">

                    <div class="row">
                        <div class="col-md-4">

                            <div class="form-group">
                                <input  name="name" type="text" class="form-control" id="name" required="required" placeholder="Full Name">
                            </div>

                            <div class="form-group">
                                <input name="email" type="email" class="form-control" id="email" required="required" placeholder="Email Address">
                            </div>

                        </div>

                        <div class="col-md-8">
                            <textarea name="message" type="text" class="form-control" id="message" rows="5" required="required" placeholder="Type here message"></textarea>
                            <button type="submit" id="submit" name="submit" class="btn btn-black">send message</button>
                        </div>
                        
                    </div>

                        
                    
                </form> <!-- form end -->
            </section> <!-- /.contact-form -->

        </div> <!-- container -->
    </div>
    <!-- main-content end -->


</div> <!-- /#contact-page (page end) -->

