<div id="home-page">


    <div class="main-content">

        <!--  begin portfolio section  -->
        <section class="bg-light-gray">
            <div class="container">

                <div class="headline">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="section-title">英雄</h2>
                            <p class="section-sub-title">
                                点击英雄查看他所克制及被克的英雄和出装
                            </p> <!-- /.section-sub-title -->
                            <input ng-model="searchKeyword" name="name" type="text" class="form-control" id="name" required="required" placeholder="输入英雄名">
                        </div>
                    </div>
                </div> <!-- /.headline -->


                <div class="champion-item-list" infinite-scroll="loadMore()" infinite-scroll-distance="2">
                    <div class="row">

                        <div class="col-md-2 col-sm-3 col-xs-4" ng-repeat="champion in ::champions | filter: searchKeyword">
                            <div class="champion-item">
                                <div class="item-image">
                                    <a href="/champion/{{::champion.eng_name}}">
                                        <img src="assets/img/champ_img/{{::champion.eng_name}}.png" class="img-responsive center-block" alt="{{::champion.name}}">
                                        <div><span><i class="fa fa-plus"></i></span></div>
                                    </a>
                                </div>

                                <div class="item-description">
                                    <div>
                                            <span class="item-name">{{::champion.alias}}</span>

                                    </div>
                                </div> <!-- end of /.item-description -->
                            </div> <!-- end of /.portfolio-item -->
                        </div>


                    </div>
                </div> <!-- end of portfolio-item-list -->
                    
            </div>
        </section> 
        <!--   end of portfolio section  -->
                    
    </div> <!-- end of /.main-content -->
</div>

<!-- TODO: hoverdir not working with angularjs -->
<!-- script for portfolio section using hoverdirection -->


