<div id="home-page">


    <div class="main-content">

        <!--  begin portfolio section  -->
        <section class="bg-light-gray">
            <div class="container">

                <div class="headline">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="section-title">英雄</h2>
                            <p class="section-sub-title">
                                点击英雄查看他所克制及被克的英雄和出装
                            </p> <!-- /.section-sub-title -->
                            <input ng-model="searchKeyword" name="name" type="text" class="form-control" id="name" required="required" placeholder="输入英雄名">
                        </div>
                    </div>
                </div> <!-- /.headline -->


                <div class="champion-item-list">
                    <div class="row">

                        <div class="col-md-2 col-sm-3" ng-repeat="champion in champions | filter: searchKeyword">
                            <div class="champion-item">
                                <div class="item-image">
                                    <a href="{{champion.url}}">
                                        <img src="assets/img/portfolio1.jpg" class="img-responsive center-block" alt="portfolio1">
                                        <div><span><i class="fa fa-plus"></i></span></div>
                                    </a>
                                </div>

                                <div class="item-description">
                                    <div>
                                            <span class="item-name">
                                                {{champion.name}}
                                            </span>

                                    </div>
                                </div> <!-- end of /.item-description -->
                            </div> <!-- end of /.portfolio-item -->
                        </div>


                    </div>
                </div> <!-- end of portfolio-item-list -->
                    
            </div>
        </section> 
        <!--   end of portfolio section  -->

        <!--  begin testimonial section  -->

        <section class="bg-light-gray">
            <div class="container">

                <div class="headline text-center">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <h2 class="section-title">testimonials</h2>
                            <p class="section-sub-title">
                                absolutely stunning design &amp; functionality
                            </p> <!-- /.section-sub-title -->
                        </div>
                    </div>
                </div> <!-- /.headline -->

                <div id="client-speech" class="owl-carousel owl-theme">

                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="client-box">
                                    <div class="about-client">
                                        <img src="assets/img/client1.jpg" alt="client1">
                                        <p class="client-intro">technext-ceo</p>
                                    </div> <!-- end of /.about-client -->
                                    <div class="main-speech">
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                                        </p>
                                    </div> <!-- end of /.main-speech  -->
                                </div> <!-- end of /.client-box -->
                            </div>

                            <div class="col-md-6">
                                <div class="client-box">
                                    <div class="about-client">
                                        <img src="assets/img/client2.jpg" alt="client2">
                                        <p class="client-intro">technext-ceo</p>
                                    </div> <!-- end of /.about-client -->
                                    <div class="main-speech">
                                        <p>
                                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that.
                                        </p>
                                    </div> <!-- end of /.main-speech  -->
                                </div> <!-- end of /.client-box -->
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="client-box">
                                    <div class="about-client">
                                        <img src="assets/img/client1.jpg" alt="client3">
                                        <p class="client-intro">technext-ceo</p>
                                    </div> <!-- end of /.about-client -->
                                    <div class="main-speech">
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                                        </p>
                                    </div> <!-- end of /.main-speech  -->
                                </div> <!-- end of /.client-box -->
                            </div>

                            <div class="col-md-6">
                                <div class="client-box">
                                    <div class="about-client">
                                        <img src="assets/img/client2.jpg" alt="client4">
                                        <p class="client-intro">technext-ceo</p>
                                    </div> <!-- end of /.about-client -->
                                    <div class="main-speech">
                                        <p>
                                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that.
                                        </p>
                                    </div> <!-- end of /.main-speech  -->
                                </div> <!-- end of /.client-box -->
                            </div>
                        </div>
                    </div>
                    
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="client-box">
                                    <div class="about-client">
                                        <img src="assets/img/client1.jpg" alt="client5">
                                        <p class="client-intro">technext-ceo</p>
                                    </div> <!-- end of /.about-client -->
                                    <div class="main-speech">
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                                        </p>
                                    </div> <!-- end of /.main-speech  -->
                                </div> <!-- end of /.client-box -->
                            </div>

                            <div class="col-md-6">
                                <div class="client-box">
                                    <div class="about-client">
                                        <img src="assets/img/client2.jpg" alt="client6">
                                        <p class="client-intro">technext-ceo</p>
                                    </div> <!-- end of /.about-client -->
                                    <div class="main-speech">
                                        <p>
                                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that.
                                        </p>
                                    </div> <!-- end of /.main-speech  -->
                                </div> <!-- end of /.client-box -->
                            </div>
                        </div>
                    </div>
                    
                </div> <!-- end of /#client-speech  /.owl-carousel -->

            </div> <!-- end of .container -->
        </section> 
        <!--  end of testimonial  section -->
                    
    </div> <!-- end of /.main-content -->
</div>


<!-- script for portfolio section using hoverdirection -->
<script type="text/javascript">
    $(function() {

        $('.champion-item > .item-image').each( function() { $(this).hoverdir({
            hoverDelay : 75
        }); } );

    });
</script>


<!-- script for twitter-feed using owl carousel-->
<script type="text/javascript">
    $(document).ready(function() {

        $("#twit").owlCarousel({
         
            navigation : true, // Show next and prev buttons
            slideSpeed : 100,
            paginationSpeed : 400,
            navigationText : false,
            singleItem: true,
            autoPlay: true,
            pagination: false
        });

    });
</script>


<!-- script for testimonial section using owl carousel -->
<script type="text/javascript">
    $(document).ready(function() {

        $("#client-speech").owlCarousel({
         
            autoPlay: 5000, //Set AutoPlay to 3 seconds
            stopOnHover: true,
            singleItem:true
        });

    });
</script>